.formulario{
    max-width: 1400px;
    background: #fff;
    padding: 70px 35px;
    margin: 50px auto;

    .row{
        margin-bottom: 20px;
    }

    .pauta {
        text-align:center ;
        line-height:3.5;
    }

    .borda {
        background: linear-gradient(45deg,#ef792f 0%,#e3358d 100%);;
        text-align:center ;
    }
    
}