.modalBackground{
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba($color: #000000, $alpha: 0.9);
    
    &.hide{
        display: none;
    }

    .innerContainer{
        background: #fff;
        border-radius: 10px;
        height: 550px;
        width: 1000px;
        margin: 0 auto;
        position: relative;
        top: 50%;
        padding: 20px;
        transform: translateY(-50%);

        @media(max-width: 1010px){
            max-width: 800px;
        }

        @media(max-width: 800px){
            max-width: 660px;
        }

        @media(max-width: 660px){
            max-width: 300px;
            height: auto;

            .closeButton{
                right: 0;
                top: -40px;
            }
        }

        &::after{
            display: table;
            clear: both;
            content: "";
        }

        .title{
            font-size: 25px;
            text-align: center;
            text-transform: uppercase;
        }

        .comments{
            border: 2px #000 solid;
            height: 300px;
            padding: 5px;
            overflow: auto;

            .comment{
                border-bottom: 1px #c7c7c7 solid;
                padding-bottom: 3px;
                margin-bottom: 20px;

                p{
                    font-size: 16px;
                    margin: 0;
                }
                

                &::after{
                    display: table;
                    clear: both;
                    content: "";
                }

                .commentDate{
                    font-size: 12px;
                    font-weight: 500;
                    display: block;
                    float: right;
                    margin-top: 5px;
                    font-style: italic;
                }
            }
        }
    }

    .newComment{
        margin-top: 20px;

        textarea{
            width: 100%;
            height: 100px;
            resize: none;
        }

        .salvarComentario{
            float: right;
            margin-top: 10px;
        }
    }
}