.formulario{
    max-width: 1400px;
    background: #fff;
    padding: 50px;
    margin: 50px auto;

    .row{
        margin-bottom: 20px;
    }

    .pauta {
        text-align:center ;
        line-height:3.5;
    }

    .borda {
        background: #ffa550;
        text-align:center ;
    }
    
}